{% extends 'base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/user/login.css' %}">
{% endblock style %}

{% block content %}

	<div class="card">
		<form method="POST">
			{% csrf_token %}

			<div class="login">
			{% for i in form %}

				<p>{{i.label}}</p>
				<p>{{i}}</p>

			{% endfor %}

			<button type="submit" name='Login'>login</button>
			</div>
		</form>

		<a href="{% url 'home' %}"><button class="btn btn-danger" type="button">back</button></a>
	</div>

	{% if condition %}
		<script type="text/javascript">
			alert("username atau password anda salah");
			document.location.href = "{% url 'user:login' %}"
		</script>
	{% endif %}

{% endblock content %}